.container {
  padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 13%;

  background-color: rgb(17, 22, 31);
}


@media only screen and (max-width: 700px) {
  .container {
    margin: 0 10%;
  }
.chart{
  height: 1000px;
}
  
}